/* 공통요소 */
.clearfix::after{
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}
/* after: 태그의 안쪽, 내용의 뒷쪽 */
/* haeder의 clearfix를 보면 </header>바로 앞쪽 */
.inner{
  position: relative;
}